services:
  - name: opencourier-backend
    type: web
    runtime: node
    plan: free
    env: node
    branch: main
    buildCommand: |
      yarn install --frozen-lockfile --production=false
      yarn prisma:generate
      yarn build
      mkdir -p dist/prisma && cp -r prisma/client dist/prisma/client
    startCommand: yarn start:prod
    envVars:
      - key: PORT
        value: 10000
      - key: NODE_ENV
        value: production
      - key: NODE_VERSION
        value: 20.x
